{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block main_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/main.css' %}">
{% endblock %}

{% block content %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100" style="width:590px;">
                <form class="login100-form validate-form" method="POST">
                    <!-- {% csrf_token %} -->
                    <span class="login100-form-title p-b-26">
                        Your password has been reset successfully.
                    </span>
                    <div class="text-center p-t-5">
                        <span class="txt1">
                            Go back to 
                        </span>

                        <a class="txt2" href="{% url 'login' %}">
                            Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
        

    <div id="dropDownSelect1"></div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'account/vendor/jquery/jquery-3.2.1.min.js' %}"></script>

	<script src="{% static 'account/vendor/animsition/js/animsition.min.js' %}"></script>

	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

	<script src="{% static 'account/vendor/select2/select2.min.js' %}"></script>

	<script src="{% static 'account/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'account/vendor/daterangepicker/daterangepicker.js' %}"></script>

	<script src="{% static 'account/vendor/countdowntime/countdowntime.js' %}"></script>
	<script src="{% static 'account/js/main_login.js' %}"></script>
{% endblock %}