[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.15"
django-crispy-forms = "2.3"
pillow = "10.4.0"
backports-zoneinfo = "0.2.1"
crispy-bootstrap4 = "2024.1"

[dev-packages]

[requires]
python_version = "3.8"
