docker_user: {{ .Values | get "global.docker_user" "default" }}

apps:
  {{- range $app_name, $value := .Values.apps }}
  {{ $app_name }}:
    {{ $value | toYaml | indent 4 | trim }}
  {{ end }}

configmaps:
  {{- range $configmap_name, $value := .Values.configmaps }}
  {{ $configmap_name }}:
    {{ $value | toYaml | indent 4 | trim }}
  {{ end }}

secrets:
  {{- range $secret_name, $value := .Values.secrets }}
  {{ $secret_name }}:
    {{ $value | toYaml | indent 4 | trim }}
  {{ end }}