{% extends "DonationSystem/base.html" %}
{% load static %}

{% block content %}
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-xl-12">
            <h1>Medicine List
              <span class="float-end col-1 mt-4"><a class="btn btn-primary d-grid gap-2" href="{% url 'add-medicine' %}">Add</a></span>
            </h1>
            {% if user.is_authenticated and is_ngo %}
            <table class="table text-center table-hover border mt-2">
                <thead>
                  <tr class= "table-primary">
                    <th scope="col">Medicine Name</th>
                    <th scope="col">Dosage Amount</th>
                    <th scope="col">Medicine Priority</th>
                    <th scope="col">Amount Required</th>
                    <th scope="col" colspan="2">Operations</th>
                  </tr>
                </thead>
                <tbody>
                {% for data in context %}
                  <tr>
                    <td>{{data.MedicineName}}</td>
                    <td>{{data.DosageAmount}}</td>
                    <td>{{data.MedicinePriority}}</td>
                    <td>{{data.AmountRequired}}</td>
                    <td><a class="btn btn-success" href="{% url 'update-medicine' data.id %}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'delete-medicine' data.id  %}">Delete</a></td>
                  </tr>
                {%endfor%}
                </tbody>
            </table>
            {% elif user.is_authenticated %}
            <table class="table text-center table-hover border mt-2">
                <thead>
                  <tr class= "table-primary">
                    <th scope="col">Image</th>
                    <th scope="col">Medicine Name</th>
                    <th scope="col">Dosage Amount</th>
                    <th scope="col">Pills Left</th>
                    <th scope="col" colspan="2">Operations</th>
                  </tr>
                </thead>
                <tbody>
                {% for data in context %}
                  <tr>
                    <td class="w-25"><img class='img-thumbnail w-25' src="{% static data.ExpiryDateImage.url %}" alt=""></td>
                    <td class="w-25 align-middle">{{data.MedicineName}}</td>
                    <td class="w-25 align-middle">{{data.DosageAmount}}</td>
                    <td class="w-25 align-middle">{{data.PillsLeft}}</td>
                    <td><a class="btn btn-success" href="{% url 'update-medicine' data.id %}">Update</a></td>
                    <td><a class="btn btn-danger" href="{% url 'delete-medicine' data.id  %}">Delete</a></td>
                  </tr>
                {%endfor%}
                </tbody>
            </table>
            {%endif%}
        </div>
    </div>
  </div>
</section>
{% endblock %}